.img-responsive {
	display: block;

	max-width: 100%;
	height: auto;
}
	
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.px-0 {
	padding-left: 0px;
	padding-right: 0px;
}

.mx-0 {
	margin-left: 0;
	margin-right: 0;
}

.container-fluid {
	&.px-0 {
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
